* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px) {
  .logo a {
    font-size: 40px;
    padding-top: 20px;
    text-decoration: none;
    color: #36b37e;
  }

  .desktop_menu {
    display: none;
  }
  .desktop_menu.active{
    display: flex;
    position: absolute;
  height: 105vh;
  width: 375px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 50000s ease;
  }
  .desktop_menu.active ul{
    z-index: 1000;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 50px 30px;
    transition: all 50000s ease;
  }
  
  .desktop_menu.active ul li a{
    text-decoration: none;
    color: #3A4A42;
    font-size: 32px;
    font-weight: 600;
    line-height: 23px;
  }

    .mobile_menu {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: end;
      margin: 10px 15px;
    }
  
    .mobile_menu p {
      padding: 1.5px 10px;
      background-color: black;
    }
    .mobile_menu.active p:nth-child(1){
      rotate: 45deg;
      top: 6px;
      position: relative;
    }
    .mobile_menu.active p:nth-child(2){
      opacity: 0;
    }
    .mobile_menu.active p:nth-child(3){
      rotate: -45deg;
      top: -6px;
      position: relative;
    }
  .hero {
    background: url(./asset/images/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 2px;
  }

  .first,
  .second {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
  }

  .first {
    margin: 25px 0 0 0;
    padding: 10px 50px;
  }

  .second {
    color: #36b37e;
    margin-top: -40px;
  }

  .hero_paragraph {
    font-size: 25px;
    text-align: center;
    margin: 10px 15px;
  }

  .social_icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px;
    list-style-type: none;
  }

  .abt_card__icon img {
    width: 120px;
    height: auto;
    margin-top: -30px;
  }

  .action {
    margin-top: 20px;
  }

  .lay_out {
    height: 97px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }

  .lay_out h2 {
    line-height: 52px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
  }

  .hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
  }

  .hr p {
    padding: 1.4px 60px;
    background-color: #36b37e;
  }
  .my_container_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 474px;
    background-color: #d0d9d4;
    margin: 30px;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 10px;
  }
  .landing_page img{
    width: 350px;
    margin-bottom: 250px;
    height: 230x;
  }

  .sub_page {
    width: 100%;
    height: 235px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
  }

     h3{
    color: #000;
    font-weight: 600;
    padding-left: 12px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
  }

  .buttons ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons ul li {
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ebf0ee;
  }

  .center {
    margin-left: 120px;
    width: 122px;
    margin-top: 25px;
    height: 48px;
    outline: hidden;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #36b37e;
    color: #fff;
  }
  .center:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  
  .about_me {
    height: 338px;
    width: 351px;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background: url(./asset/images/illustration\ 2-about\ me\ mobile.svg) bottom left, url(./asset/images/illustration\ 1-\ about\ me-mobile.svg) top right;
    background-repeat: no-repeat;
  }

  .about_me h4 {
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    color: #172b4d;
  }

  .about_me p {
    font-size: larger;
    font-weight: 600;
    color: #42526e;
    text-align: center;
    margin: 30px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-origin: padding-box;
  }

  .get_my {
    margin-left: 0;
    margin-top: 15px;
    width: 153px;
    height: 48px;
    background-color: #36b37f;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: #fff;
  }
  .get_my:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .about_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 45px 0 10px 0;
  }

  .abt_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 327px;
    height: 363px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #ebf0ee;
    padding: 10px 0 25px 0;
  }

  .social_icon ul li a img {
    width: 23px;
  }

  .abt_card_title h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .abt_card_tech ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0 10px;
  }

  .abt_card_tech ul li {
    list-style: none;
    font-size: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #36b37e;
  }

  .my_section_paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./asset/images/illustration-contact-form.svg) bottom right;
    background-repeat: no-repeat;
  }

  .interest {
    height: 363px;
    width: 327px;
    line-height: 52px;
    font-weight: 800;
    font-size: 40px;
    margin-top: 30px;
    color: #172b4d;
    text-align: center;
  }

  .form_fields {
    height: 380px;
    width: 280px;
  }

  .form_fields input {
    width: 100%;
    height: 60px;
    border: 1px solid #36b37f;
  }
  .chart_area{
    width: 100%;
    height: 115px;
    border: 1px solid #36b37f;
  }
  .form_fields input::placeholder{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .chart_area::placeholder{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .get_in {
    margin-left: 90px;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: #36b37f;
    border-radius: 4px;
    color: #fff;
  }
  .get_in:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .my_email {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .my_email a {
    opacity: 1;
    color: #42526e;
    text-decoration: none;
  }

  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    margin: 10px 15px;
  }

  .line p {
    padding: 1.5px 60px;
    background-color: black;
  }

  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
  background-color: rgb(134, 129, 129);
   }
   .modalImage{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-bottom: 6px;
    padding: 2px;
  }
  .modallink{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .modallink a{
    font-size:300;
    font-weight:500;
    text-transform: capitalize;
  text-decoration: none;
  }
.modalcontent{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0 0 0 0.3);
  margin: 20px;
 
}
.closebutton{
  position: relative;
  top: 30px;
  left: 140px;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
#modaltechnologies{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
#modaltechnologies li{
background-color: #d0d9d4;
padding: 5px 10px;
border-radius: 3px;
font-weight: 10px;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .logo a {
    font-size: 25px;
    text-decoration: none;
    color: #36b37e;
  }
  .desktop_menu {
    display: none;
  }
  .desktop_menu.active{
    display: flex;
    position: absolute;
  height: 100vh;
  width: 769px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 50000s ease;
  }
  .desktop_menu.active ul{
    z-index: 1000;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 50px 30px;
    transition: all 50000s ease;
  }
  
  .desktop_menu.active ul li a{
    text-decoration: none;
    color: #3A4A42;
    font-size: 32px;
    font-weight: 600;
    line-height: 23px;
    
  }
  .mobile_menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: end;
    margin: 10px 15px;
  }
  
  .mobile_menu p {
    padding: 1.5px 10px;
    background-color: black;
  }
.mobile_menu.active p:nth-child(1){
  rotate: 45deg;
  top: 6px;
  position: relative;
}
.mobile_menu.active p:nth-child(2){
  opacity: 0;
}
.mobile_menu.active p:nth-child(3){
  rotate: -45deg;
  top: -6px;
  position: relative;
}

  .hero {
    background: url(./asset/images/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 2px;
  }

  .first,
  .second {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
  }

  .first {
    margin: 25px 0 0 0;
    padding: 10px 50px;
  }

  .second {
    color: #36b37e;
    margin-top: -40px;
  }

  .hero_paragraph {
    font-size: 25px;
    text-align: center;
    margin: 10px 15px;
  }

  .social_icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px;
    list-style-type: none;
  }

  .abt_card__icon img {
    width: 120px;
    height: auto;
    margin-top: -30px;
  }

  .class_action {
    margin-top: 60px;
  }

  .lay_out {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lay_out h2 {
    line-height: 52px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
  }

  .hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
  }

  .hr p {
    padding: 1.4px 60px;
    background-color: #36b37e;
  }

  .my_container_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .landing_page {
    width: 350px;
    height: 474px;
    background-color: #d0d9d4;
    margin: 30px;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 10px;
  }
  .landing_page img{
    width: 350px;
    margin-bottom: 250px;
    height: 230x;
  }

  .sub_page {
    width: 100%;
    height: 235px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
  }

     h3{
    color: #000;
    font-weight: 600;
    padding-left: 12px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
  }

  .buttons ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons ul li {
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ebf0ee;
  }

  .center {
    margin-left: 120px;
    width: 122px;
    margin-top: 25px;
    height: 48px;
    outline: hidden;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #36b37e;
    color: #fff;
  }
  .center:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .about_me {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background: url(./asset/images/illustration\ 2-about\ me\ mobile.svg) bottom left, url(./asset/images/illustration\ 1-\ about\ me-mobile.svg) top right;
    background-repeat: no-repeat;
  }

  .about_me h4 {
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    color: #172b4d;
  }

  h4 .image {
    justify-content: end;
    flex-direction: row;
    align-items: end;
  }

  .about_me p {
    font-size: larger;
    font-weight: 600;
    color: #42526e;
    text-align: center;
    margin: 30px;
  }

  .get_my {
    margin-left: 0;
    margin-top: 15px;
    width: 153px;
    height: 48px;
    background-color: #36b37f;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: #fff;
  }
  .get_my:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }
  .about_cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 45px 0 -10px 0;
  }

  .abt_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 327px;
    height: 363px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #ebf0ee;
    padding: 10px 0 25px 0;
  }

  .abt_card_title h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .social_icon ul li a img {
    width: 23px;
  }

  .abt_card_tech ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0 10px;
  }

  .abt_card_tech ul li {
    list-style: none;
    font-size: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #36b37e;
  }

  .my_section_paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .interest {
    height: 363px;
    width: 327px;
    line-height: 52px;
    font-weight: 800;
    font-size: 40px;
    margin-top: 30px;
    color: #172b4d;
    text-align: center;
  }

  .form_fields {
    height: 380px;
    width: 280px;
    margin-left: -10px;
  }

  .form_fields input {
    width: 327px;
    height: 50px;
    border: 1px solid #36b37f;
  }
  .chart_area{
    width: 327px;
    height: 115px;
    border: 1px solid #36b37f;
  }
  .form_fields input::placeholder{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .chart_area::placeholder{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .get_in {
    margin-left: 90px;
    margin-top: 40px;
    width: 100px;
    height: 50px;
    background-color: #36b37f;
    color: #fff;
    border-radius: 4px;
    border: none;
  }
  .get_in:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .my_email {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .desktop_menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 900;
  }
  .my_email a {
    opacity: 1;
    color: #42526e;
    text-decoration: none;
  }

  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    margin: 10px 15px;
  }

  .line p {
    padding: 1.5px 60px;
    background-color: black;
  }

  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
  background-color: rgb(134, 129, 129);
   }
   .modalImage{
    width: 100%;
    height: 80%;
    border-radius: 15px;
    margin-bottom: 6px;
    
  }
  .modallink{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .modallink a{
    font-size:300;
    font-weight:500;
    text-transform: capitalize;
  text-decoration: none;
 
  }
.modalcontent{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0 0 0 0.3);
  margin: 20px;
  
}
.closebutton{
  position: relative;
  top: 30px;
  left: 142px;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
#modaltechnologies{
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
#modaltechnologies li{
background-color: #d0d9d4;
padding: 5px 10px;
border-radius: 3px;
font-weight: 10px;
}
}

@media (min-width: 1025px) {
  .logo a {
    display: none;
    font-size: 25px;
    text-decoration: none;
    color: #36b37e;
  }

  .my_email a {
    display: none;
    opacity: 1;
    color: #42526e;
    text-decoration: none;
  }
  
  

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;  
    display: grid;
  }
  .desktop_menu{
   display: grid;
  }
  
  .desktop_menu ul li a {
    text-decoration: none;
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 25px;
    
  }
  
  .desktop_menu ul {
    text-decoration: none;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    flex-direction: row;
  }
  
  .desktop_menu ul li {
    justify-content: center;
    display: flex;
  }
  
 
  .mobile_menu {
    display: none;
    flex-direction: column;
    gap: 3px;
    align-items: end;
    margin: 10px 15px;
  }
  
  .mobile_menu p {
    padding: 1.5px 10px;
    background-color: black;
  }
  
  .hero {
    background: url(./asset/images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .first,
  .second {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
  }

  .first {
    margin: 25px 0 0 0;
    padding: 10px 50px;
  }

  .second {
    color: #36b37e;
    margin-top: -40px;
  }

  .hero_paragraph {
    font-size: 25px;
    text-align: center;
    margin: 10px 15px;
  }

  .social_icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px;
    list-style-type: none;
  }

  .abt_card__icon img {
    width: 120px;
    height: auto;
    margin-top: -30px;
  }

  .action {
    margin-top: 20px;
  }

  .lay_out {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lay_out h2 {
    line-height: 52px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
  }

  .hr {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
  }

  .hr p {
    padding: 1.4px 60px;
    background-color: #36b37e;
  }

  .my_container_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .landing_page {
    width: 350px;
    height: 474px;
    background-color: #d0d9d4;
    margin: 30px;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 10px;
  }
  .landing_page img{
    width: 350px;
    margin-bottom: 250px;
    height: 230x;
  }
  .sub_page {
    width: 100%;
    height: 235px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
  }

     h3{
    color: #000;
    font-weight: 600;
    padding-left: 12px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
  }

  .buttons ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons ul li {
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ebf0ee;
  }

  .center {
    margin-left: 120px;
    width: 122px;
    margin-top: 25px;
    height: 48px;
    outline: hidden;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #36b37e;
    color: #fff;
  }
  .center:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    justify-content: center;
    align-items: center;
    background: url(./asset/images/illustration-about-me-2-desktop.svg) bottom left, url(./asset/images/illustration-about\ me-1-desktop.svg) top right;
    background-repeat: no-repeat;
  }

  .about_me h4 {
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    color: #172b4d;
  }

  .about_me p {
    font-size: larger;
    font-weight: 600;
    color: #42526e;
    text-align: center;
    margin: 0 380px;
  }

  .get_my {
    margin-left: 0;
    margin-top: 15px;
    width: 153px;
    height: 48px;
    background-color: #36b37f;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: #fff;
  }
  .get_my:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;

  }
  .about_cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 45px 0 -10px 0;
  }

  .abt_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 327px;
    height: 363px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #ebf0ee;
    padding: 10px 0 25px 0;
  }

  .social_icon ul li a img {
    width: 23px;
  }

  .abt_card_title h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .abt_card_tech ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0 10px;
  }

  .abt_card_tech ul li {
    list-style: none;
    font-size: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #36b37e;
  }

  .my_section_paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./asset/images/contact\ form-illustratoin-3-desktop.svg) top right, url(./asset/images/illustration-1-contact-form-desktop.svg) bottom left 10px, url(./asset/images/illustration-2-contact-form-desktop@2x.png) bottom left 300px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }

  .interest {
    line-height: 52px;
    font-weight: 500;
    font-size: 40px;
    margin: 0 100px 0 90px;
    padding: 100px;
    color: #172b4d;
    text-align: center;
  }

  .form_fields {
    height: 380px;
    width: 280px;
    margin-top: 50px;
    margin-right: 215px;
    opacity: 1;
  }

  .form_fields input {
    width: 100%;
    height: 60px;
    border: 1px solid #36b37f;
  }
  .chart_area{
    width: 100%;
    height: 115px;
    border: 1px solid #36b37f;
  }
  .form_fields input::placeholder{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .chart_area::placeholder{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
  }
  .get_in {
    margin-left: 90px;
    margin-right: 80px;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    background-color: #36b37f;
    border: none;
    border-radius: 4px;
    color: #fff;
  }
  .get_in:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease-in-out;
  }

  .my_email {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .yooo {
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .line {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 20px;
    margin: 10px 15px;
  }

  .line p {
    padding: 1.5px 60px;
    background-color: black;
  }

  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.modal{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
background-color: rgb(134, 129, 129);
 }
 .modalImage{
  width: 100%;
  height: 100%;
  border-radius: 15px;   
}
.modallink{
  display: flex;
  gap: 20px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
 
}
.modallink a{
  font-size:100;
  font-weight:200;
  text-transform: capitalize;
text-decoration: none;
}
.modalcontent{
  background-color: #ffffff;
padding: 5px;
border-radius: 8px;
text-align: center;
position: relative;
box-shadow: 0 5px 15px rgba(0 0 0 0.3);
margin: 20px;
width: 590px;

}
.closebutton{
position: relative;
top: 30px;
left: 240px;
font-size: 32px;
font-weight: bold;
color: #333;
cursor: pointer;
}
#modaltechnologies{
display: flex;
justify-content: center;
list-style: none;
padding: 0;
margin-bottom: 10px;
margin-top: 20px;
gap: 10px;
}
#modaltechnologies li{
background-color: #d0d9d4;
padding: 5px 10px;
border-radius: 3px;
font-weight: 10px;

}
}